{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <h2>Sign Up</h2>
        <form action="" method="post">
            {% csrf_token %}

            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <div class="pt-3">
            <small class="class-muted">Already have an account? <a href="{% url 'login' %}" class="ml-2">Sign In</a></small>
        </div>
    </div>
</div>

{% endblock %}